.container {
  padding: 0 20px;
}

.container {
  @media screen and (min-width: 1024px) {
    max-width: calc(1024px - 3rem);
  }
  
  @media screen and (min-width: 1216px) {
    max-width: calc(1216px - 3rem);
  }
  
  @media screen and (min-width: 1408px) {
    max-width: calc(1408px - 3rem);
  }
}

.content h4 {
  margin-top: 0.8em;
}

.content h5 {
  margin-top: 0.8888em;
  
  @media screen and (min-width: 1024px) {
    margin-bottom: 0.3333em;
  }
}

.content figure {
  margin-bottom: 1em;
}

.footer {
  margin-top: 0.8em;
}

.title {
  @media screen and (max-width: 1023px) {
    margin-bottom: 0.5em;
  }
}

.icon {
  text-decoration: none;
  width: 24px!important;
  height: 24px!important;
  margin: 0;
  padding: 0;
}

.markdown {
  hyphens: auto;
}
